html,
body, * {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

.layout{
  padding: 10px;
}

.main-container{
  max-width: 1400px; 
  margin: auto;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.logo{
  background: linear-gradient(135deg, #00ffff, #0000ff 70%);
  font-size: 28px;
  font-weight: 700;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}